spring.datasource:
  #url: jdbc:h2:./camunda-db;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
#shareable h2 database: jdbc:h2:./camunda-db;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;AUTO_SERVER=TRUE
  #username: sa
  #password: sa
  driverClassName: com.mysql.jdbc.Driver
  url: jdbc:mysql://localhost:3306/camundaorderdb?useSSL=true&nullCatalogMeansCurrent=true 
  username: root
  password: vignesh
#spring.h2.console.enabled: true
spring.jpa.hibernate.ddl-auto: update

#spring.h2.console.enabled: true
camunda.bpm:
  admin-user:
    id: demo
    password: demo
    firstName: Demo
    lastName: Demo
  filter:
    create: All Tasks
#  default-serialization-format: application/json
server.port: 7072
