<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <!-- <parameter name="author" value="param" />
  <parameter name="searchKey1" value="India" />
  <parameter name="searchKey2" value="UK" />
  <parameter name="data" value="{4,5}"/>   
  <test parallel="true" thread-count="5" name="Test">
  <classes>
  <class name="com.amex.parameterizedtests.DataProviderTest">
  
  </class>
  </classes>
  </test> --> <!-- Test -->
  <test name="TraderModel" parallel="true" thread-count="5" >
  <classes>
   <class name="com.virtusa.traderapi.TraderapiApplicationTests"></class>
  </classes>
  </test>
  
 <!--  <listeners>
          <listener class-name="org.uncommons.reportng.HTMLReporter"/>
         <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
</listeners> -->
</suite> <!-- Suite -->
